<article *ngIf="model">
  <header><h2>Edit model</h2></header>

  <form #form="ngForm" (ngSubmit)="onSubmit()" class="container">
    <div>
      <label for="name">Name:</label>
      <input [(ngModel)]="model.name" id="name" name="name"/>
    </div>
    <div>
      <label for="cost">Length of the ship:</label>
      <input [(ngModel)]="model.length_of_ship" id="cost" name="cost"/>
    </div>
    <p>
    <div class="row">
        <button type="submit">Update</button>
      <p>
      <div>
        <button (click)="form.resetForm(original)" type="button">Reset</button>
      </div>
    </div>
  </form>
</article>
