<article *ngIf="ship">
  <header><h2>Edit character</h2></header>

  <form class="container"  #form="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input id="name" name="name" [(ngModel)]="ship.name"/>
    </div>
    <div>
      <label for="cost">Cost:</label>
      <input id="cost" name="cost" [(ngModel)]="ship.cost"/>
    </div>
    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Update</button>
      </div>
      <div class="col-2 p-2">
        <button type="button" (click)="form.resetForm(original)">Reset</button>
      </div>
    </div>
  </form>
</article>
