<div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
  <section>
    <header style="margin-bottom: 20px;">
      <h1 style="font-size: 50px;">Explore Ships and Models</h1>
    </header>
    <nav>
      <div>
        <ul style="list-style: none; padding: 0;">
          <li>
            <a [routerLink]="'models'" style="text-decoration: none; color: black; font-size: 18px;">Models</a>
          </li>
          <li>
            <a [routerLink]="'ships'" style="text-decoration: none; color: black; font-size: 18px;">Ships</a>
          </li>
        </ul>
      </div>
    </nav>
  </section>
</div>
<main>
  <router-outlet></router-outlet>
</main>
