<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <article class="text--justified">
    <table *ngIf="ships">
      <thead>
      <tr>
        <th>Name</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ship of ships.ships" class="model-row">
        <td class="model-name">{{ship.name}}</td>
        <td><a [routerLink]="['/ships', ship.id]">View</a></td>
        <td><a [routerLink]="['/ships', ship.id, 'edit']">Edit</a></td>
        <td>
          <button (click)="onDelete(ship)" class="delete-button">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </article>
</div>
