<article *ngIf="model">
  <header><h2>{{model.name}}</h2></header>

  <div class="container">
    <div>
      <div class="col-6">
        <h3>ID: {{model.id}}</h3>
        <h3>Name: {{model.name}}</h3>
      </div>
    </div>

        <div class="row mb-2">
          <div class="col-6">
            <h3>Length of the ship: {{model.length_of_ship}}</h3>
          </div>
        </div>
    <div *ngIf="model.ships">
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ship of model.ships.ships">
          <td>{{ship.name}}</td>
          <td>
            <a [routerLink]="['/ships', ship.id]">View</a>
          </td>
        </tr>
        </tbody>
      </table>
      <div>
        <button [routerLink]="['/models', model.id, 'ship']">Add new Ship</button>
      </div>

    </div>
  </div>
</article>
